---
layout: page
title: About
image: 
---
<h1>Oh Djallo,<br/> after the shower<br/>the sun will be shining!</h1>
<hr/>
<br/>
<p>Mi chiamo Marco. Riguardo il cognome, Djallo può andare bene. La D è muta, bifolcə. 

<br/><br/>
Mi piace la fotografia. Mi aiuta ad estrapolare i dettagli della realtà, così da comprenderla meglio. O almeno, osservarla più a fondo. Essendo che "fotografia" significa "scrivere con la luce", cerco di fotografare cosa fa emergere storie dentro di me. Almeno, il più delle volte. 


<br/><br/>
In realtà, alla fotografia ci sono arrivato dopo diverso tempo. Prima di tutto, ho iniziato con la grafica. La progettazione grafica mi esalta, soprattutto quando mi metto a giocare con la tipografia. 

<br/><br/>
E poi, altre cose, altri interessi. 

<br/><br/>
Solo che non mi piacciono i social, sono troppo chiassosi e troppo performativi. Quindi ho deciso di creare questo piccolo spazietto, dove mettere le mie cose, con i miei tempi.
<br/><br/>
<a href="mailto:m.djallo@disroot.org">Complimenti? Critiche? Insulti? Nostalgia dell'Unione Sovietica? Scrivimi.</a></p>
<hr/><hr/>
<br/><br/><br/>
<p><a href="https://github.com/samesies/barber-jekyll">Questo sito è basato sul tema Barber di samesies.</a></p>
<hr/>
<p><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.it">Il materiale su questo sito è coperto da licenza Creative Commons Attribuzione - Condividi allo stesso modo 4.0 Internazionale (CC BY-SA 4.0)</a></p>
<p><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.it"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>

