---
layout: page
title: About
image: /assets/images/placeholder-18.jpg
---
<p>My name is Thomas Vaeth and this is Barber. 💈 Barber is a minimal blog theme with a masonry grid layout and infinite scroll. <a href="http://samesies.io" target="_blank">Samesies</a> builds themes for Ghost, WordPress, and Jekyll and they are only available through ThemeForest.</p>

<hr/>

<h1>Artisan cray pickled whatever</h1>
<h2>Artisan cray pickled whatever</h2>
<h3>Artisan cray pickled whatever</h3>
<h4>Artisan cray pickled whatever</h4>
<h5>Artisan cray pickled whatever</h5>
<h6>Artisan cray pickled whatever</h6>

<hr/>

<ol>
  <li>Wes anderson cliche cosby sweater brooklyn vegan organic.</li>
  <li>Synth ennui semiotics mustache pickled.</li>
  <li>Food truck freegan vinyl thundercats, post-ironic ennui wes anderson banh mi four loko synth photo booth authentic 3 wolf moon.</li>
</ol>

<hr/>

<ul>
  <li>Wes anderson cliche cosby sweater brooklyn vegan organic.</li>
  <li>Synth ennui semiotics mustache pickled.</li>
  <li>Food truck freegan vinyl thundercats, post-ironic ennui wes anderson banh mi four loko synth photo booth authentic 3 wolf moon.</li>
</ul>

<hr/>

<blockquote>
  <p>“Bicycle rights mustache artisan, keytar lo-fi sustainable fap stumptown vegan salvia freegan four loko terry richardson.”</p>
  <cite>Wolf Moon Cred</cite>
</blockquote>

<hr/>

<pre>
<code>
code {
  padding: 0.25em 0.5em;

  color: $color-black;
  background: $color-lightgrey;
}
</code>
</pre>

<hr/>

<img src="/assets/images/placeholder-18.jpg" alt="Grid Image"/>
<p>You can <code>use inline code</code> and append <code>#full</code> to the end of an image URL for full width images.</p>

<img src="/assets/images/placeholder-18.jpg#full" alt="Full Image"/>

<hr/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/XFYWazblaUA" frameborder="0" allowfullscreen></iframe>

<hr/>

<iframe src="https://player.vimeo.com/video/189919038?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<hr/>

<iframe height='400' scrolling='no' title='Flexbox Flex-Grow Mast' src='//codepen.io/thomasvaeth/embed/qmbKVq/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>

<hr/>

<p>American apparel jean shorts terry richardson squid. Letterpress tattooed cray beard pinterest. Jean shorts tofu wayfarers, fap PBR swag banh mi. Organic chillwave scenester wayfarers semiotics salvia messenger bag, vice odd future.</p>
