<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    </div>

    <hr class="sep--white"/>

    <div class="footer__container">
      {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 30 %}

      {% include social.html %}
	<div align="center"> 
	  <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.it"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></div> 
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
