<header class="header">
  <a class="header__title" href="{{ '/' | absolute_url }}"><img src = "/assets/logodjallo.svg" alt="{{ site.title }}" width="100em" style="margin-top:0.5em" </a>

  {% include navigation.html %}
</header>
