<nav>
  <ul class="header__list">
    <!-- <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li> -->
	<li><a href="{{ '/articoli' | prepend: site.baseurl }}">Articoli</a></li>
    <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    <!-- <li><span class="popup__open">Contact</span></li> -->
  </ul>
</nav>
