<!-- {% if paginator.next_page %}
  <div class="posts__pagination">
    <span class="posts__next">Load More</span>
  </div>
{% endif %}
 -->
<div align="center" class="footer__link">
 {% if paginator.total_pages > 1 %}
<div class="footer__link">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="footer__link">&laquo;&laquo;</a>
  {% else %}
    <span>&laquo;&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <b style="color: yellow">{{ page }}</b>
    {% elsif page == 1 %}
      <a href="{{ site.paginate_path | relative_url | prepend: '/articoli' | remove: 'page:num' }}" class="footer__link">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | prepend: '/articoli' | replace: 'page:num', page }}" class="footer__link">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="footer__link">&raquo;&raquo;</a>
  {% else %}
    <span>&raquo;&raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>