//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  @extend %letter-spacing;
  @extend %box-shadow;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  background-color: $color-yellow;
  border-bottom: $border;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  &__title {
    @extend %font-header;

    font-size: $font-xsmall;
    color: $color-black;
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;

    & > * {
      @extend .header__title;

      &:not(:last-child) {
        margin-right: 1em;

        @media (min-width: $mq-small) {
          margin-right: 2em;
        }
      }

      a {
        color: $color-black;
      }
    }
  }
}
