//----------------------------------------------
// Zoom
//---------------------------------------------- 
.zoom-img,
.zoom-img-wrap {
  z-index: 9999;
}

.zoom-overlay {
  z-index: $z-999;

  background: rgba($color-black, 0.9);

  &__close {
    @extend .popup__close;
  }

  &__exit {
    @extend .popup__exit;

    &:after, 
    &:before {
      background-color: $color-black;
    }
  }
}
